In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
df = pd.read_csv('../data_raw/2022-2023_bikethefts.csv', dtype={'LOR': str}, encoding='ISO-8859-1')
df.head()

,ANGELEGT_AM,TATZEIT_ANFANG_DATUM,TATZEIT_ANFANG_STUNDE,TATZEIT_ENDE_DATUM,TATZEIT_ENDE_STUNDE,LOR,SCHADENSHOEHE,VERSUCH,ART_DES_FAHRRADS,DELIKT,ERFASSUNGSGRUND
0,23.05.2023,21.05.2023,10,21.05.2023,13,01100414,1200,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
1,23.05.2023,19.05.2023,14,19.05.2023,20,02200208,650,Nein,Damenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
2,23.05.2023,22.05.2023,19,22.05.2023,22,03701555,725,Nein,Damenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
3,23.05.2023,22.12.2022,18,23.12.2022,9,01401044,1000,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
4,23.05.2023,22.05.2023,21,23.05.2023,7,04501043,547,Nein,Kinderfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern

In [3]:
## Convert date columns to datetime, sort by date and reset index
df['TATZEIT_ANFANG_DATUM'] = pd.to_datetime(df['TATZEIT_ANFANG_DATUM'], dayfirst=True)
df['ANGELEGT_AM'] = pd.to_datetime(df['ANGELEGT_AM'], dayfirst=True)
df['TATZEIT_ENDE_DATUM'] = pd.to_datetime(df['TATZEIT_ENDE_DATUM'], dayfirst=True)
df.sort_values('TATZEIT_ANFANG_DATUM', inplace=True, ascending=True)
df.reset_index(drop=True, inplace=True)
df

,ANGELEGT_AM,TATZEIT_ANFANG_DATUM,TATZEIT_ANFANG_STUNDE,TATZEIT_ENDE_DATUM,TATZEIT_ENDE_STUNDE,LOR,SCHADENSHOEHE,VERSUCH,ART_DES_FAHRRADS,DELIKT,ERFASSUNGSGRUND
0,2022-01-01,2022-01-01,16,2022-01-01,19,02400623,1754,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
1,2022-01-07,2022-01-01,13,2022-01-03,10,04501043,1109,Nein,diverse Fahrräder,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
2,2023-02-26,2022-01-01,0,2022-01-01,0,04501152,400,Nein,Kinderfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
3,2022-01-10,2022-01-01,12,2022-01-03,15,08100103,1093,Nein,Fahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
4,2022-04-16,2022-01-01,8,2022-01-01,8,09200613,1,Nein,Fahrrad,Fahrraddiebstahl,Einfacher Diebstahl von Fahrrädern
...,...,...,...,...,...,...,...,...,...,...,...
29786,2023-05-23,2023-05-23,2,2023-05-23,10,01300731,200,Nein,Damenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
29787,2023-05-23,2023-05-23,6,2023-05-23,7,10200629,380,Nein,Damenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
29788,2023-05-23,2023-05-23,6,2023-05-23,7,10200629,470,Nein,Damenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
29789,2023-05-23,2023-05-23,7,2023-05-23,13,06300633,708,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
29790,2023-05-23,2023-05-23,7,2023-05-23,13,02300419,388,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern

In [4]:
# add TATZEIT_ANFANG_STUNDE to TATZEIT_ANFANG_DATUM as datetime
df['TATZEIT_ANFANG_DATUM'] = df['TATZEIT_ANFANG_DATUM'] + pd.to_timedelta(df['TATZEIT_ANFANG_STUNDE'], unit='h')
df['TATZEIT_ENDE_DATUM'] = df['TATZEIT_ENDE_DATUM'] + pd.to_timedelta(df['TATZEIT_ENDE_STUNDE'], unit='h')

In [5]:
## drop irreleant columns
df.drop(['ANGELEGT_AM', 'VERSUCH', 'DELIKT', 'ERFASSUNGSGRUND', 'TATZEIT_ANFANG_STUNDE', 'TATZEIT_ENDE_STUNDE'], axis=1, inplace=True)

In [6]:
## rename columns
df.columns = ['theft_start', 'theft_end', 'LOR', 'amount_of_damage_in_euro', 'type_of_bike']

## reorder columns
df = df[[
    'LOR',
    'theft_start',
    'theft_end',
    'type_of_bike',
    'amount_of_damage_in_euro'
]]

df

,LOR,theft_start,theft_end,type_of_bike,amount_of_damage_in_euro
0,02400623,2022-01-01 16:00:00,2022-01-01 19:00:00,Herrenfahrrad,1754
1,04501043,2022-01-01 13:00:00,2022-01-03 10:00:00,diverse Fahrräder,1109
2,04501152,2022-01-01 00:00:00,2022-01-01 00:00:00,Kinderfahrrad,400
3,08100103,2022-01-01 12:00:00,2022-01-03 15:00:00,Fahrrad,1093
4,09200613,2022-01-01 08:00:00,2022-01-01 08:00:00,Fahrrad,1
...,...,...,...,...,...
29786,01300731,2023-05-23 02:00:00,2023-05-23 10:00:00,Damenfahrrad,200
29787,10200629,2023-05-23 06:00:00,2023-05-23 07:00:00,Damenfahrrad,380
29788,10200629,2023-05-23 06:00:00,2023-05-23 07:00:00,Damenfahrrad,470
29789,06300633,2023-05-23 07:00:00,2023-05-23 13:00:00,Herrenfahrrad,708
29790,02300419,2023-05-23 07:00:00,2023-05-23 13:00:00,Herrenfahrrad,388

In [7]:
## save preprocessed data
# df.to_csv('../results/data_processed/2022-2023_bikethefts_preprocessed.csv', index=False)

## exploration

In [19]:
df = df.copy()
df.loc[:,'Year'] = df['theft_start'].dt.year
# df['Month'] = df['theft_start'].dt.month
# df['Day'] = df['theft_start'].dt.day
# df['Hour'] = df['theft_start'].dt.hour
# df

In [10]:
## get the number of bike thefts per month
df.groupby(['LOR', 'Year', 'Month']).size().reset_index(name='Bike_Thefts')

           LOR  Year  Month  Bike_Thefts
0     01100101  2022      1            1
1     01100101  2022      4            3
2     01100101  2022      5            2
3     01100101  2022      6            2
4     01100101  2022      7            1
...        ...   ...    ...          ...
6898  12601236  2022      8            1
6899  12601236  2022      9            2
6900  12601236  2022     10            1
6901  12601236  2023      3            1
6902  12601236  2023      4            1

[6903 rows x 4 columns]

In [11]:
## get the number of bike thefts per year
df.groupby(['LOR', 'Year']).size().reset_index(name='Bike_Thefts').sort_values('Year')

           LOR  Year  Bike_Thefts
0     01100101  2022           27
833   10100210  2022           21
437   05200528  2022            9
439   05200629  2022           95
831   10100209  2022           17
...        ...   ...          ...
475   06100204  2023            1
477   06100205  2023            6
479   06100206  2023            7
460   05300840  2023           11
1047  12601236  2023            2

[1048 rows x 3 columns]

In [12]:
## get certain month
df[(df['Month'] == 1) & (df['Year'] == 2022)]

,LOR,theft_start,theft_end,type_of_bike,amount_of_damage_in_euro,Year,Month,Day,Hour
0,02400623,2022-01-01 16:00:00,2022-01-01 19:00:00,Herrenfahrrad,1754,2022,1,1,16
1,04501043,2022-01-01 13:00:00,2022-01-03 10:00:00,diverse Fahrräder,1109,2022,1,1,13
2,04501152,2022-01-01 00:00:00,2022-01-01 00:00:00,Kinderfahrrad,400,2022,1,1,0
3,08100103,2022-01-01 12:00:00,2022-01-03 15:00:00,Fahrrad,1093,2022,1,1,12
4,09200613,2022-01-01 08:00:00,2022-01-01 08:00:00,Fahrrad,1,2022,1,1,8
...,...,...,...,...,...,...,...,...,...
1233,02200211,2022-01-31 15:00:00,2022-02-02 15:00:00,Fahrrad,599,2022,1,31,15
1234,04501152,2022-01-31 03:00:00,2022-01-31 03:00:00,Mountainbike,300,2022,1,31,3
1235,08100206,2022-01-31 12:00:00,2022-01-31 12:00:00,Herrenfahrrad,300,2022,1,31,12
1236,08100209,2022-01-31 00:00:00,2022-01-31 09:00:00,Herrenfahrrad,1090,2022,1,31,0
1237,10300731,2022-01-31 06:00:00,2022-01-31 17:00:00,Herrenfahrrad,1226,2022,1,31,6